* {
    font-family: "Varela Round", sans-serif;
    font-style: normal;
    --d-blue: #132b50;

}

.bg {
    background-color: #f6f7f8;
    height: 100vh;
    max-width: 1000px;
    margin: auto;
    
    /* Center the login section */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ffffff;
    min-height: 60%;
    min-width: 60%;
    padding: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container > .title {
    font-size: 2.3rem;
    font-weight: 600;
}


/* PROFILE */
.profile {
    display: flex;
    gap: 1rem;
    align-items: stretch;
}

.profile > .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#account-type {
    font-size: 0.9rem;
}

#name {
    font-weight: bold;
}

.profile > img {
    height: 64px;
    color: black;
}



/* PASSWORD ENTER */
.password {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.password label {
    font-weight: bold;
    font-size: 0.9rem;
}

/* password input section (box + visibility) */
.password .input-sect {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.password input#pwd {
    border: 1px solid #304565;
    height: 3rem;
    flex: 1;

    background-image: url('resources/lock_16dp_304565_FILL0_wght200_GRAD0_opsz20.svg');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 30px;
    padding: 12px 45px;
}


input[type="checkbox"]#visibility {
    display: none;
}

img.visibility {
    height: 30px;
}


/* OPTIONS */
/* Align "Continue" with input box by using same flex settings as the .password container*/
.options-container {
    display: flex;
    gap: 0.5rem;
}

.options-container .filler {
    width: 30px;
}


.options {
    flex: 1;

    display: flex;
    justify-content: space-between;
}

/* TOGGLE SWITCH */
/* Create outer toggle area */
.remember {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

#rmber {
    -webkit-appearance: none;
    appearance: none;
    width: 44px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid var(--d-blue);
    transition: all 0.4s;
}

/* Inner button thing */
#rmber::before {
    width: 16px;
    height: 16px;
    border-radius: 9px;
    background-color: var(--d-blue);
    content: '';
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;

    transition: all 0.4s;
}

/* Switch transition */
#rmber:checked {
    background-color: #dbf3fa;
    transition: all 0.4s;
}
#rmber:checked::before {
    left: 23px;;
    transition: all 0.4s;
}


/* Continue button */
#submit {
    color: white;
    background-color: var(--d-blue);
    border-radius: 5px;
    padding: 12px 14px;
    border-style: none;
}


/* Reset pswd link */
a:link {
    color: var(--d-blue);
    font-weight: bold;
}

a:hover {
    color: #70a9ff;
}


/* Make cursor become pointer when hovering over clickable content */
img.visibility:hover, #rmber:hover, #submit:hover {
    cursor: pointer;
}