* {
    font-family: "Varela Round", sans-serif;
    font-style: normal;
    /* color: #304565; */

}

.bg {
    background-color: #f6f7f8;
    height: 100vh;
    max-width: 1000px;
    margin: auto;
    
    /* Center the login section */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ffffff;
    min-height: 65%;
    min-width: 60%;
    padding: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container > .title {
    font-size: 2.3rem;
    font-weight: 600;
}


/* PROFILE */
.profile {
    display: flex;
    gap: 1rem;
    align-items: stretch;
}

.profile > .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#account-type {
    font-size: 0.9rem;
}

#name {
    font-weight: bold;
}

.profile > img {
    height: 64px;
    color: black;
}



/* PASSWORD ENTER */
.password {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.password label {
    font-weight: bold;
    font-size: 0.9rem;
}

/* password input section (box + visibility) */
.password .input-sect {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.password input#pwd {
    border: 1px solid #304565;
    height: 3rem;
    flex: 1;

    background-image: url('resources/lock_16dp_304565_FILL0_wght200_GRAD0_opsz20.svg');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 30px;
    padding: 12px 45px;
}


input[type="checkbox"]#visibility {
    display: none;
}

img.visibility {
    height: 30px;
}




/* OPTIONS */
.options {
    display: flex;
}
